body{
    overflow: hidden;
    background: #84d0e4 no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#img1{
    margin: 25px;
    height: 75px;
    max-height: 100%;
    width: 75px;
    max-width: 100%;
}

.fade {
    display: none;
    height: 450px;
    width: 500px;
    background: #29defec9;
    position: relative;
    left: 25%;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 10px whitesmoke;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.2}
    to {opacity: 1}
  }

  .fade h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.Greet{
    display: block;
    height: 450px;
    width: 500px;
    background: #29defec9;
    position: relative;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
    left: 25%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 10px whitesmoke;
    animation-name: fade;
    animation-duration: 2.5s;
}

.Greet h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.Greet p{
    padding-top: 20px;
    font-size: 40px;
    font-family:serif;
}

.Greet p #a {
    font-size: 60px;
    font-family: serif;
    font-weight: bold;
}

.intro p{
    font-size: 20px;
    font-family:serif;
}

.Education div{
    padding-bottom: 10px;
}

.Education h2 {
    font-size: 25px;
    font-family:serif;
    margin-bottom: 0;
}

.Education p{
    font-size: 15px;
    font-family:serif;
    margin-top: 0;
}

.Skill li{
    font-size: 20px;
    font-family:serif;
    padding: 5px;
}

.contact img{
    height: 30px;
    width: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
}

.contact a{
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
    color: black;
}

.passion img{
    height: 40px;
    width: 40px;
    padding-right: 5px;
}

.passion p{
    font-size: 20px;
    font-family: serif;
    color: black;
    padding: 10px;
}

.last p{
    font-size: 75px;
    font-family:serif;
    font-weight: bold;
    padding-top: 100px;
    padding-left: 10px;
}

.project div{
    padding-bottom: 10px;
}

.project h2 {
    font-size: 25px;
    font-family:serif;
    margin-bottom: 0;
}

.project p{
    font-size: 15px;
    font-family:serif;
    margin-top: 0;
}

.proceed {
    cursor: pointer;
    position: relative;
    top: 85%;
    left: 85%;
    width: 100px;
    height: 50px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease;
    padding: 20px;
    margin: 0;
    border: 4px solid white;
    border-radius: 100px 40px;
    box-shadow: 5px whitesmoke;
    background-color: rgb(62, 150, 62);
  }